In [16]:
 import pandas as pd

# Import data

In [17]:
junin = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/JUNIN_FINALIZADO.xlsx")
junin["Region"] = "JUNIN"
region = junin["Region"]
junin.drop(labels = "Region", axis=1, inplace = True)
junin.insert(0, "Region", region)
junin.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

# Clean String Variables

In [18]:
# Translate to Uppercase variables 
junin["District"] =junin["District"].str.upper()
junin["Place"] = junin["Place"].str.upper()

In [19]:
junin["Place"] = junin["Place"].str.strip()
# Find errors with string = Total
errors =junin.loc[junin["Place"]=="TOTAL"]
error_list = errors.index.tolist()

junin_clean = junin.drop(junin.index[error_list])
junin_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,JUNIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,JUNIN,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,JUNIN,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,158,...,209,544,361,216,1,1,4,284,290,1
4,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,30,...,50,100,50,50,0,0,0,100,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,42,...,0,72,72,0,0,0,0,35,39,0
230,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,8,...,7,23,16,7,0,0,0,21,2,0
231,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,7,...,8,30,22,8,0,0,0,4,26,0
232,JUNIN,YAULI,YAULI,2,6,8,74,38,112,41,...,37,103,76,44,0,0,37,14,69,0
233,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,8,...,30,126,96,30,0,0,1,118,7,0

In [8]:
# Drop first 3 rows beacuse it does not serve us
junin_clean = junin_clean.drop([0, 1, 2],axis=0)
junin_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,158,...,209,544,361,216,1,1,4,284,290,1
4,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,30,...,50,100,50,50,0,0,0,100,0,0
5,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,25,...,25,72,47,25,0,0,0,69,3,0
6,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,25,...,25,50,25,25,0,0,0,25,25,0
7,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,3,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,42,...,0,72,72,0,0,0,0,35,39,0
230,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,8,...,7,23,16,7,0,0,0,21,2,0
231,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,7,...,8,30,22,8,0,0,0,4,26,0
232,JUNIN,YAULI,YAULI,2,6,8,74,38,112,41,...,37,103,76,44,0,0,37,14,69,0
233,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,8,...,30,126,96,30,0,0,1,118,7,0

In [9]:
# drop by index
# Reset to index because we have removed rows and renumbering them
junin_clean = junin_clean.reset_index()
junin_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,4,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,5,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,6,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,7,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,228,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,230,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,231,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,232,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,233,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

In [12]:
# indentify the types of Colum in the data 
a = junin_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [13]:
#As a precaution, we will check again that there are no rows with "Total"
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [14]:
a1=a.dtypes

In [15]:
# This code will change the object column type to int64
a12= a.infer_objects()
a12.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object

In [11]:
a12

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,158,...,209,544,361,216,1,1,4,284,290,1
1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,30,...,50,100,50,50,0,0,0,100,0,0
2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,25,...,25,72,47,25,0,0,0,69,3,0
3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,25,...,25,50,25,25,0,0,0,25,25,0
4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,3,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,42,...,0,72,72,0,0,0,0,35,39,0
193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,8,...,7,23,16,7,0,0,0,21,2,0
194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,7,...,8,30,22,8,0,0,0,4,26,0
195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,41,...,37,103,76,44,0,0,37,14,69,0
196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,8,...,30,126,96,30,0,0,1,118,7,0

In [12]:
Code1= a12.to_excel("Region_Junin.xlsx")
Code1

In [ ]:
df["edad_float"] = pd.to_numeric(df["A"], downcast="float")

In [ ]:
a12= a.infer_objects()
a12.dtypes

In [7]:
txt = "    Total .      "

x = txt.strip(",.   ")

print(x)

Total

In [8]:
txt = " Total ."

x = txt.strip(",.   ")

print(x)

Total

In [3]:
txt = "        Total        ."

x = txt.strip()

print(x)

Total        .

In [4]:
#Elimine los caracteres principales y finales:
#Elimina datos dentro del strip que no quieres q salgan
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [11]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite