In [1]:
import pandas as pd

In [5]:
hua= pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/F_Huancavelica.xlsx")
hua["Region"] = "HUANCAVELICA"
region = hua["Region"]
hua.drop(labels = "Region", axis=1, inplace = True)
hua.insert(0, "Region", region)
hua.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

# Clean String Variables

In [7]:
# Translate to Uppercase variables 
hua["District"] =hua["District"].str.upper()
hua["Place"] = hua["Place"].str.upper()

In [8]:
hua["Place"] = hua["Place"].str.strip()
# Find errors with string = Total
errors =hua.loc[hua["Place"]=="TOTAL"]
error_list = errors.index.tolist()

hua_clean = hua.drop(hua.index[error_list])
hua_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,HUANCAVELICA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HUANCAVELICA,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,HUANCAVELICA,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,HUANCAVELICA,HUANCAVELICA,P. HUANCAVELICA,71,39,110,304,336,640,149,...,350,607,375,375,0,0,288,384,78,0
4,HUANCAVELICA,HUANCAVELICA,SACSAMARCA,3,3,6,29,9,38,0,...,12,44,32,12,0,0,0,44,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,HUANCAVELICA,CORDOVA,LARAMARCA,17,15,32,61,53,114,12,...,68,146,78,68,0,0,0,146,0,0
114,HUANCAVELICA,CORDOVA,QUIRAHCCARA,1,2,3,25,23,48,19,...,25,51,26,25,0,0,0,51,0,0
115,HUANCAVELICA,CORDOVA,OCOYYO,3,3,6,22,22,44,12,...,25,49,25,25,0,0,0,50,0,0
116,HUANCAVELICA,CORDOVA,AYAMARCA,4,2,6,32,23,55,12,...,25,61,36,25,0,0,0,61,0,0
117,HUANCAVELICA,CORDOVA,OCOBAMBA,12,10,22,35,38,73,4,...,48,95,47,48,0,0,0,81,14,0

In [9]:
# Drop first 3 rows beacuse it does not serve us
hua_clean = hua_clean.drop([0, 1, 2],axis=0)
hua_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,HUANCAVELICA,HUANCAVELICA,P. HUANCAVELICA,71,39,110,304,336,640,149,...,350,607,375,375,0,0,288,384,78,0
4,HUANCAVELICA,HUANCAVELICA,SACSAMARCA,3,3,6,29,9,38,0,...,12,44,32,12,0,0,0,44,0,0
6,HUANCAVELICA,ACORIA,P. ACORIA,18,12,30,30,47,107,49,...,59,137,78,59,0,0,31,80,26,0
7,HUANCAVELICA,ACORIA,AÑANCUSI,20,19,39,39,38,118,25,...,57,157,100,57,0,0,4,152,1,0
8,HUANCAVELICA,ACORIA,CHUPACA,24,21,45,45,65,163,35,...,86,208,122,86,0,0,2,200,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,HUANCAVELICA,CORDOVA,LARAMARCA,17,15,32,61,53,114,12,...,68,146,78,68,0,0,0,146,0,0
114,HUANCAVELICA,CORDOVA,QUIRAHCCARA,1,2,3,25,23,48,19,...,25,51,26,25,0,0,0,51,0,0
115,HUANCAVELICA,CORDOVA,OCOYYO,3,3,6,22,22,44,12,...,25,49,25,25,0,0,0,50,0,0
116,HUANCAVELICA,CORDOVA,AYAMARCA,4,2,6,32,23,55,12,...,25,61,36,25,0,0,0,61,0,0
117,HUANCAVELICA,CORDOVA,OCOBAMBA,12,10,22,35,38,73,4,...,48,95,47,48,0,0,0,81,14,0

In [10]:
# drop by index
# Reset to index because we have removed rows and renumbering them
hua_clean = hua_clean.reset_index()
hua_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,HUANCAVELICA,HUANCAVELICA,P. HUANCAVELICA,71,39,110,304,336,640,...,350,607,375,375,0,0,288,384,78,0
1,4,HUANCAVELICA,HUANCAVELICA,SACSAMARCA,3,3,6,29,9,38,...,12,44,32,12,0,0,0,44,0,0
2,6,HUANCAVELICA,ACORIA,P. ACORIA,18,12,30,30,47,107,...,59,137,78,59,0,0,31,80,26,0
3,7,HUANCAVELICA,ACORIA,AÑANCUSI,20,19,39,39,38,118,...,57,157,100,57,0,0,4,152,1,0
4,8,HUANCAVELICA,ACORIA,CHUPACA,24,21,45,45,65,163,...,86,208,122,86,0,0,2,200,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,113,HUANCAVELICA,CORDOVA,LARAMARCA,17,15,32,61,53,114,...,68,146,78,68,0,0,0,146,0,0
95,114,HUANCAVELICA,CORDOVA,QUIRAHCCARA,1,2,3,25,23,48,...,25,51,26,25,0,0,0,51,0,0
96,115,HUANCAVELICA,CORDOVA,OCOYYO,3,3,6,22,22,44,...,25,49,25,25,0,0,0,50,0,0
97,116,HUANCAVELICA,CORDOVA,AYAMARCA,4,2,6,32,23,55,...,25,61,36,25,0,0,0,61,0,0
98,117,HUANCAVELICA,CORDOVA,OCOBAMBA,12,10,22,35,38,73,...,48,95,47,48,0,0,0,81,14,0

In [11]:
# indentify the types of Colum in the data 
a = hua_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [12]:
#As a precaution, we will check again that there are no rows with "Total"
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [13]:
a1=a.dtypes

In [14]:
# This code will change the object column type to int64
a12= a.infer_objects()
a12.dtypes

Region                       object
District                     object
Place                        object
4_6_years_men                 int64
4_6_years_women              object
4_6_years_total               int64
6_14_years_men                int64
6_14_years_women              int64
6_14_years_total              int64
man_read                      int64
women_read                    int64
total_read                    int64
men_not_read                  int64
women_not_read                int64
total_not_read                int64
man_write                   float64
women_write                   int64
total_write                 float64
men_not_write                 int64
women_not_write               int64
total_not_write               int64
instruction_men               int64
instruction_women             int64
instruction_total             int64
no_instruction_men            int64
no_instruction_women          int64
no_instruction_total          int64
finished_instr_men            int64
finished_instr_women          int64
finished_instr_total          int64
not_finished_instr_men        int64
not_finished_instr_women      int64
not_finished_instr_total      int64
peruvian_men                  int64
peruvian_women                int64
foreign_men                   int64
foreign_women                 int64
whites                        int64
natives                       int64
mestizos                      int64
blacks                        int64
dtype: object

In [15]:
#https://datatofish.com/string-to-integer-dataframe/
a12['4_6_years_women'] = pd.to_numeric(a12['4_6_years_women'])
a12.dtypes

Region                       object
District                     object
Place                        object
4_6_years_men                 int64
4_6_years_women               int64
4_6_years_total               int64
6_14_years_men                int64
6_14_years_women              int64
6_14_years_total              int64
man_read                      int64
women_read                    int64
total_read                    int64
men_not_read                  int64
women_not_read                int64
total_not_read                int64
man_write                   float64
women_write                   int64
total_write                 float64
men_not_write                 int64
women_not_write               int64
total_not_write               int64
instruction_men               int64
instruction_women             int64
instruction_total             int64
no_instruction_men            int64
no_instruction_women          int64
no_instruction_total          int64
finished_instr_men            int64
finished_instr_women          int64
finished_instr_total          int64
not_finished_instr_men        int64
not_finished_instr_women      int64
not_finished_instr_total      int64
peruvian_men                  int64
peruvian_women                int64
foreign_men                   int64
foreign_women                 int64
whites                        int64
natives                       int64
mestizos                      int64
blacks                        int64
dtype: object

In [16]:
a12['total_read'] = pd.to_numeric(a12['total_read'])
a12.dtypes

Region                       object
District                     object
Place                        object
4_6_years_men                 int64
4_6_years_women               int64
4_6_years_total               int64
6_14_years_men                int64
6_14_years_women              int64
6_14_years_total              int64
man_read                      int64
women_read                    int64
total_read                    int64
men_not_read                  int64
women_not_read                int64
total_not_read                int64
man_write                   float64
women_write                   int64
total_write                 float64
men_not_write                 int64
women_not_write               int64
total_not_write               int64
instruction_men               int64
instruction_women             int64
instruction_total             int64
no_instruction_men            int64
no_instruction_women          int64
no_instruction_total          int64
finished_instr_men            int64
finished_instr_women          int64
finished_instr_total          int64
not_finished_instr_men        int64
not_finished_instr_women      int64
not_finished_instr_total      int64
peruvian_men                  int64
peruvian_women                int64
foreign_men                   int64
foreign_women                 int64
whites                        int64
natives                       int64
mestizos                      int64
blacks                        int64
dtype: object

In [17]:
a12['total_write'] = pd.to_numeric(a12['total_write'])
a12.dtypes

Region                       object
District                     object
Place                        object
4_6_years_men                 int64
4_6_years_women               int64
4_6_years_total               int64
6_14_years_men                int64
6_14_years_women              int64
6_14_years_total              int64
man_read                      int64
women_read                    int64
total_read                    int64
men_not_read                  int64
women_not_read                int64
total_not_read                int64
man_write                   float64
women_write                   int64
total_write                 float64
men_not_write                 int64
women_not_write               int64
total_not_write               int64
instruction_men               int64
instruction_women             int64
instruction_total             int64
no_instruction_men            int64
no_instruction_women          int64
no_instruction_total          int64
finished_instr_men            int64
finished_instr_women          int64
finished_instr_total          int64
not_finished_instr_men        int64
not_finished_instr_women      int64
not_finished_instr_total      int64
peruvian_men                  int64
peruvian_women                int64
foreign_men                   int64
foreign_women                 int64
whites                        int64
natives                       int64
mestizos                      int64
blacks                        int64
dtype: object

In [18]:
a12["man_write"] = a12["man_write"].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
a12["total_write"] = pd.to_numeric(a12['total_write'])
a12.dtypes

In [ ]:
a12

In [12]:
Code1= a12.to_excel("Region_Junin.xlsx")
Code1

In [ ]:
df["edad_float"] = pd.to_numeric(df["A"], downcast="float")

In [ ]:
a12= a.infer_objects()
a12.dtypes

In [7]:
txt = "    Total .      "

x = txt.strip(",.   ")

print(x)

Total

In [8]:
txt = " Total ."

x = txt.strip(",.   ")

print(x)

Total

In [3]:
txt = "        Total        ."

x = txt.strip()

print(x)

Total        .

In [4]:
#Elimine los caracteres principales y finales:
#Elimina datos dentro del strip que no quieres q salgan
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [11]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
junin = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/JUNIN_FINALIZADO.xlsx")
junin["Region"] = "JUNIN"
region = junin["Region"]
junin.drop(labels = "Region", axis=1, inplace = True)
junin.insert(0, "Region", region)
junin.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

# Clean String Variables

# Translate to Uppercase variables 
junin["District"] =junin["District"].str.upper()
junin["Place"] = junin["Place"].str.upper()



junin["Place"] = junin["Place"].str.strip()
# Find errors with string = Total
errors =junin.loc[junin["Place"]=="TOTAL"]
error_list = errors.index.tolist()

junin_clean = junin.drop(junin.index[error_list])
junin_clean

# Drop first 3 rows beacuse it does not serve us
junin_clean = junin_clean.drop([0, 1, 2],axis=0)
junin_clean

# drop by index
# Reset to index because we have removed rows and renumbering them
junin_clean = junin_clean.reset_index()
junin_clean

# indentify the types of Colum in the data 
a = junin_clean.drop("index", axis=1)
a.dtypes

#As a precaution, we will check again that there are no rows with "Total"
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

a1=a.dtypes

# This code will change the object column type to int64
a12= a.infer_objects()
a12.dtypes

a12

Code1= a12.to_excel("Region_Junin.xlsx")
Code1

df["edad_float"] = pd.to_numeric(df["A"], downcast="float")


a12= a.infer_objects()
a12.dtypes



txt = "    Total .      "

x = txt.strip(",.   ")

print(x)

txt = " Total ."

x = txt.strip(",.   ")

print(x)

txt = "        Total        ."

x = txt.strip()

print(x)

#Elimine los caracteres principales y finales:
#Elimina datos dentro del strip que no quieres q salgan
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")