In [1]:
import pandas as pd

In [2]:
piu = pd.read_excel(r"C:\Users\egonz\Desktop\Data/PIURA (1).xlsx")
piu["Region"] = "PIURA"
region = piu["Region"]
piu.drop(labels = "Region", axis=1, inplace = True)
piu.insert(0, "Region", region)
piu.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [3]:
piu

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,PIURA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PIURA,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,PIURA,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,PIURA,PIURA,Cercado,8,42,50,806,782,1588,492,...,726,1420,812,822,2,2,284,176,1016,162
4,PIURA,PIURA,TOTAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,PIURA,PACAIPAMPA,Pacaipampa,16,13,29,159,62,221,7,...,75,250,175,75,0,0,0,69,181,0
169,PIURA,PACAIPAMPA,Cumbiens,17,8,25,168,60,228,4,...,68,253,185,68,0,0,0,158,95,0
170,PIURA,PACAIPAMPA,TOTAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
171,PIURA,SANTO DOMINGO,Santo Domingo,35,20,55,224,138,362,10,...,158,417,259,158,0,0,0,0,417,0
172,PIURA,SANTO DOMINGO,TOTAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
piu["District"] = piu["District"].str.upper()
piu["Place"] = piu["Place"].str.upper()

In [5]:
piu["Place"] = piu["Place"].str.strip()

In [6]:
errors = piu.loc[piu["Place"]=="TOTAL"]
errors_list = errors.index.tolist()

In [7]:
piu_clean = piu.drop(piu.index[errors_list])

In [8]:
piu_clean = piu_clean.drop([0, 1, 2],axis=0)

In [9]:
piu_clean = piu_clean.reset_index()
piu_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,PIURA,PIURA,CERCADO,8,42,50,806,782,1588,...,726,1420,812,822,2,2,284,176,1016,162
1,5,PIURA,CATACAOS,CATACAOS,90,98,188,461,472,933,...,551,1075,550,570,1,0,23,890,205,3
2,6,PIURA,CATACAOS,C. CASARANÁ,47,55,102,235,203,438,...,258,540,282,258,0,0,8,532,0,0
3,7,PIURA,CATACAOS,P. MARIHUATA,16,9,25,129,91,220,...,100,245,145,100,0,0,0,245,0,0
4,8,PIURA,CATACAOS,C. CUMBIBIRÁ,4,6,10,30,18,48,...,24,58,34,24,0,0,0,58,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,164,PIURA,FRIAS,SAN JUAN,0,0,0,33,19,52,...,13,46,33,19,0,0,0,0,52,0
144,166,PIURA,CHALACO,CHALACO,53,69,122,447,387,834,...,456,956,500,456,0,0,950,6,0,0
145,168,PIURA,PACAIPAMPA,PACAIPAMPA,16,13,29,159,62,221,...,75,250,175,75,0,0,0,69,181,0
146,169,PIURA,PACAIPAMPA,CUMBIENS,17,8,25,168,60,228,...,68,253,185,68,0,0,0,158,95,0
147,171,PIURA,SANTO DOMINGO,SANTO DOMINGO,35,20,55,224,138,362,...,158,417,259,158,0,0,0,0,417,0

In [10]:
a = piu_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [11]:
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [12]:
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [13]:
a12= a.infer_objects()
a12.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object