In [2]:
import pandas as pd

In [3]:
loreto = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/LORETO_FINALIZADO.xlsx")
loreto["Region"] = "LORETO"
Region = loreto["Region"]
loreto.drop(labels = "Region", axis=1, inplace = True)
loreto.insert(0, "Region", Region)
loreto.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [4]:
loreto["District"] = loreto["District"].str.upper()
loreto["Place"] = loreto["Place"].str.upper()

In [6]:
loreto["Place"] = loreto["Place"].str.strip()
# Find errors with string = Total
errors = loreto.loc[loreto["Place"]=="TOTAL"]
error_list = errors.index.tolist()

loreto_clean = loreto.drop(loreto.index[error_list])
loreto_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,LORETO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LORETO,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,LORETO,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,LORETO,IQUITOS,P.IQUITOS,115,118,233,709,674,1383,302,...,777,1579,794,769,28,25,184,185,1235,12
5,LORETO,YURIMAHUAS,YURIMAHUAS ( PUERTO),6,0,6,152,32,184,103,...,31,175,158,32,0,0,25,20,145,0
7,LORETO,MOYOBAMBA,CD. MOYOBAMBA,70,98,168,667,568,1235,287,...,637,1334,737,666,0,0,724,63,616,0
8,LORETO,MOYOBAMBA,A. JEPELACIO,2,5,7,48,44,92,32,...,49,99,50,49,0,0,3,0,96,0
9,LORETO,MOYOBAMBA,YURACYACU,7,8,15,24,16,40,0,...,24,55,31,24,0,0,0,0,55,0
10,LORETO,MOYOBAMBA,P. YANTALÓ,0,1,1,29,35,64,0,...,36,65,29,36,0,0,19,0,46,0
12,LORETO,CALZADA,P. CALZADA,37,28,62,123,131,254,63,...,156,316,160,156,0,0,0,0,316,0
14,LORETO,HABANA,P. HABANA,14,2,16,89,48,137,68,...,50,153,103,50,0,0,32,0,121,0
16,LORETO,SORITOR,P. SORITOR,26,332,58,124,118,242,43,...,150,300,150,150,0,0,0,0,300,0
18,LORETO,RIOJA,P.RIOJA,63,54,117,315,266,581,183,...,318,688,378,320,0,0,260,73,365,0
20,LORETO,SAPOSOA,CD. SAPOSOA,49,54,103,214,186,400,146,...,240,490,263,240,0,0,4,49,450,0
21,LORETO,SAPOSOA,A. PISHCUYACU,9,5,14,66,68,134,2,...,73,148,75,73,0,0,0,122,26,0
22,LORETO,SAPOSOA,C. SANANCHI,7,4,11,65,46,111,34,...,50,122,72,50,0,0,0,20,102,0
23,LORETO,SAPOSOA,VISTA ALEGRE,3,0,3,72,67,139,25,...,67,142,75,67,0,0,0,20,122,0
24,LORETO,SAPOSOA,VIGASYACU,2,1,3,48,33,81,8,...,34,84,50,34,0,0,0,9,75,0
26,LORETO,PACHISA,P. PACHISA,0,2,2,50,34,84,11,...,36,86,50,36,0,0,0,32,54,0
27,LORETO,PACHISA,LION,2,2,4,9,15,24,0,...,17,28,11,17,0,0,0,28,0,0
28,LORETO,PACHISA,A. VALLE,6,4,10,12,5,17,0,...,9,27,18,9,0,0,0,22,5,0
29,LORETO,PACHISA,HUISCUNGO,1,2,3,24,23,47,13,...,25,50,25,25,0,0,0,25,25,0
30,LORETO,PACHISA,C. TELACHE,0,0,0,3,3,6,0,...,3,6,3,3,0,0,0,6,0,0
32,LORETO,JUANFUI,A. JUANFUI,0,0,0,162,102,264,31,...,102,264,162,102,0,0,0,19,244,0
33,LORETO,JUANFUI,HUAYLLABAMBA,0,0,0,12,7,19,0,...,7,19,12,7,0,0,0,0,19,0
35,LORETO,TINGO MARÍA,P.TINGO MARÍA,1,1,2,40,31,71,0,...,32,73,41,32,0,0,0,39,34,0
36,LORETO,TINGO MARÍA,TOCACHE,3,3,6,22,12,34,0,...,15,40,25,15,0,0,0,38,2,0
38,LORETO,LAMAS,CD. LAMAS,129,114,243,466,513,979,68,...,611,1206,595,627,0,0,27,433,758,0
40,LORETO,TARAPOTO,CD. TARAPOTO,107,117,224,693,508,1201,265,...,624,2421,800,624,0,1,32,117,1276,0

In [7]:
loreto_clean = loreto_clean.drop([0, 1, 2],axis=0)
loreto_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,LORETO,IQUITOS,P.IQUITOS,115,118,233,709,674,1383,302,...,777,1579,794,769,28,25,184,185,1235,12
5,LORETO,YURIMAHUAS,YURIMAHUAS ( PUERTO),6,0,6,152,32,184,103,...,31,175,158,32,0,0,25,20,145,0
7,LORETO,MOYOBAMBA,CD. MOYOBAMBA,70,98,168,667,568,1235,287,...,637,1334,737,666,0,0,724,63,616,0
8,LORETO,MOYOBAMBA,A. JEPELACIO,2,5,7,48,44,92,32,...,49,99,50,49,0,0,3,0,96,0
9,LORETO,MOYOBAMBA,YURACYACU,7,8,15,24,16,40,0,...,24,55,31,24,0,0,0,0,55,0
10,LORETO,MOYOBAMBA,P. YANTALÓ,0,1,1,29,35,64,0,...,36,65,29,36,0,0,19,0,46,0
12,LORETO,CALZADA,P. CALZADA,37,28,62,123,131,254,63,...,156,316,160,156,0,0,0,0,316,0
14,LORETO,HABANA,P. HABANA,14,2,16,89,48,137,68,...,50,153,103,50,0,0,32,0,121,0
16,LORETO,SORITOR,P. SORITOR,26,332,58,124,118,242,43,...,150,300,150,150,0,0,0,0,300,0
18,LORETO,RIOJA,P.RIOJA,63,54,117,315,266,581,183,...,318,688,378,320,0,0,260,73,365,0
20,LORETO,SAPOSOA,CD. SAPOSOA,49,54,103,214,186,400,146,...,240,490,263,240,0,0,4,49,450,0
21,LORETO,SAPOSOA,A. PISHCUYACU,9,5,14,66,68,134,2,...,73,148,75,73,0,0,0,122,26,0
22,LORETO,SAPOSOA,C. SANANCHI,7,4,11,65,46,111,34,...,50,122,72,50,0,0,0,20,102,0
23,LORETO,SAPOSOA,VISTA ALEGRE,3,0,3,72,67,139,25,...,67,142,75,67,0,0,0,20,122,0
24,LORETO,SAPOSOA,VIGASYACU,2,1,3,48,33,81,8,...,34,84,50,34,0,0,0,9,75,0
26,LORETO,PACHISA,P. PACHISA,0,2,2,50,34,84,11,...,36,86,50,36,0,0,0,32,54,0
27,LORETO,PACHISA,LION,2,2,4,9,15,24,0,...,17,28,11,17,0,0,0,28,0,0
28,LORETO,PACHISA,A. VALLE,6,4,10,12,5,17,0,...,9,27,18,9,0,0,0,22,5,0
29,LORETO,PACHISA,HUISCUNGO,1,2,3,24,23,47,13,...,25,50,25,25,0,0,0,25,25,0
30,LORETO,PACHISA,C. TELACHE,0,0,0,3,3,6,0,...,3,6,3,3,0,0,0,6,0,0
32,LORETO,JUANFUI,A. JUANFUI,0,0,0,162,102,264,31,...,102,264,162,102,0,0,0,19,244,0
33,LORETO,JUANFUI,HUAYLLABAMBA,0,0,0,12,7,19,0,...,7,19,12,7,0,0,0,0,19,0
35,LORETO,TINGO MARÍA,P.TINGO MARÍA,1,1,2,40,31,71,0,...,32,73,41,32,0,0,0,39,34,0
36,LORETO,TINGO MARÍA,TOCACHE,3,3,6,22,12,34,0,...,15,40,25,15,0,0,0,38,2,0
38,LORETO,LAMAS,CD. LAMAS,129,114,243,466,513,979,68,...,611,1206,595,627,0,0,27,433,758,0
40,LORETO,TARAPOTO,CD. TARAPOTO,107,117,224,693,508,1201,265,...,624,2421,800,624,0,1,32,117,1276,0

In [9]:
loreto_clean = loreto_clean.reset_index()
loreto_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,LORETO,IQUITOS,P.IQUITOS,115,118,233,709,674,1383,...,777,1579,794,769,28,25,184,185,1235,12
1,5,LORETO,YURIMAHUAS,YURIMAHUAS ( PUERTO),6,0,6,152,32,184,...,31,175,158,32,0,0,25,20,145,0
2,7,LORETO,MOYOBAMBA,CD. MOYOBAMBA,70,98,168,667,568,1235,...,637,1334,737,666,0,0,724,63,616,0
3,8,LORETO,MOYOBAMBA,A. JEPELACIO,2,5,7,48,44,92,...,49,99,50,49,0,0,3,0,96,0
4,9,LORETO,MOYOBAMBA,YURACYACU,7,8,15,24,16,40,...,24,55,31,24,0,0,0,0,55,0
5,10,LORETO,MOYOBAMBA,P. YANTALÓ,0,1,1,29,35,64,...,36,65,29,36,0,0,19,0,46,0
6,12,LORETO,CALZADA,P. CALZADA,37,28,62,123,131,254,...,156,316,160,156,0,0,0,0,316,0
7,14,LORETO,HABANA,P. HABANA,14,2,16,89,48,137,...,50,153,103,50,0,0,32,0,121,0
8,16,LORETO,SORITOR,P. SORITOR,26,332,58,124,118,242,...,150,300,150,150,0,0,0,0,300,0
9,18,LORETO,RIOJA,P.RIOJA,63,54,117,315,266,581,...,318,688,378,320,0,0,260,73,365,0
10,20,LORETO,SAPOSOA,CD. SAPOSOA,49,54,103,214,186,400,...,240,490,263,240,0,0,4,49,450,0
11,21,LORETO,SAPOSOA,A. PISHCUYACU,9,5,14,66,68,134,...,73,148,75,73,0,0,0,122,26,0
12,22,LORETO,SAPOSOA,C. SANANCHI,7,4,11,65,46,111,...,50,122,72,50,0,0,0,20,102,0
13,23,LORETO,SAPOSOA,VISTA ALEGRE,3,0,3,72,67,139,...,67,142,75,67,0,0,0,20,122,0
14,24,LORETO,SAPOSOA,VIGASYACU,2,1,3,48,33,81,...,34,84,50,34,0,0,0,9,75,0
15,26,LORETO,PACHISA,P. PACHISA,0,2,2,50,34,84,...,36,86,50,36,0,0,0,32,54,0
16,27,LORETO,PACHISA,LION,2,2,4,9,15,24,...,17,28,11,17,0,0,0,28,0,0
17,28,LORETO,PACHISA,A. VALLE,6,4,10,12,5,17,...,9,27,18,9,0,0,0,22,5,0
18,29,LORETO,PACHISA,HUISCUNGO,1,2,3,24,23,47,...,25,50,25,25,0,0,0,25,25,0
19,30,LORETO,PACHISA,C. TELACHE,0,0,0,3,3,6,...,3,6,3,3,0,0,0,6,0,0
20,32,LORETO,JUANFUI,A. JUANFUI,0,0,0,162,102,264,...,102,264,162,102,0,0,0,19,244,0
21,33,LORETO,JUANFUI,HUAYLLABAMBA,0,0,0,12,7,19,...,7,19,12,7,0,0,0,0,19,0
22,35,LORETO,TINGO MARÍA,P.TINGO MARÍA,1,1,2,40,31,71,...,32,73,41,32,0,0,0,39,34,0
23,36,LORETO,TINGO MARÍA,TOCACHE,3,3,6,22,12,34,...,15,40,25,15,0,0,0,38,2,0
24,38,LORETO,LAMAS,CD. LAMAS,129,114,243,466,513,979,...,611,1206,595,627,0,0,27,433,758,0
25,40,LORETO,TARAPOTO,CD. TARAPOTO,107,117,224,693,508,1201,...,624,2421,800,624,0,1,32,117,1276,0

In [10]:
a= loreto_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [11]:
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [12]:
a= a.infer_objects()
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object

In [13]:
Code1= a.to_excel("Region_Loreto.xlsx") 
Code1