In [1]:
 import pandas as pd

# Import data

In [2]:
libertad = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/La_Libertad.xlsx")
libertad["Region"] = "LA LIBERTAD"
region = libertad["Region"]
libertad.drop(labels = "Region", axis=1, inplace = True)
libertad.insert(0, "Region", region)
libertad.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

# Clean String Variables

In [3]:
# Translate to Uppercase variables 
libertad["District"] =libertad["District"].str.upper()
libertad["Place"] = libertad["Place"].str.upper()
libertad["Place"] = libertad["Place"].str.strip()

In [4]:
# Find errors with string = Total
errors =libertad.loc[libertad["Place"]=="TOTAL"]
error_list = errors.index.tolist()

libertad_clean = libertad.drop(libertad.index[error_list])
libertad_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,LA LIBERTAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LA LIBERTAD,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,LA LIBERTAD,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,580,...,845,1743,985,945,0,0,503,66,1294,67
4,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,53,...,80,178,100,82,0,0,31,61,88,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21,0,...,8,21,13,8,0,0,0,0,21,0
245,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213,73,...,100,213,113,100,0,0,15,8,190,0
247,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260,17,...,60,281,221,60,0,0,0,0,281,0
248,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95,15,...,30,105,75,30,0,0,8,88,9,0
250,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218,63,...,110,274,164,110,0,0,0,0,274,0

In [5]:
# Drop first 3 rows beacuse it does not serve us
libertad_clean = libertad_clean.drop([0, 1, 2],axis=0)
libertad_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,580,...,845,1743,985,945,0,0,503,66,1294,67
4,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,53,...,80,178,100,82,0,0,31,61,88,2
5,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,5,...,50,100,50,50,0,0,5,22,61,12
6,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,22,...,33,63,30,33,0,0,0,56,7,0
8,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652,176,...,336,696,406,389,0,0,217,55,517,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21,0,...,8,21,13,8,0,0,0,0,21,0
245,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213,73,...,100,213,113,100,0,0,15,8,190,0
247,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260,17,...,60,281,221,60,0,0,0,0,281,0
248,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95,15,...,30,105,75,30,0,0,8,88,9,0
250,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218,63,...,110,274,164,110,0,0,0,0,274,0

In [6]:
# drop by index
# Reset to index because we have removed rows and renumbering them
libertad_clean = libertad_clean.reset_index()
libertad_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,LA LIBERTAD,TRUJILLO,P.TRUJILLO,162,136,298,823,809,1632,...,845,1743,985,945,0,0,503,66,1294,67
1,4,LA LIBERTAD,TRUJILLO,C.LAREDO,17,14,31,83,68,151,...,80,178,100,82,0,0,31,61,88,2
2,5,LA LIBERTAD,TRUJILLO,LAS HACIENDAS,6,10,16,44,40,84,...,50,100,50,50,0,0,5,22,61,12
3,6,LA LIBERTAD,TRUJILLO,MAMICHE,3,11,14,27,22,49,...,33,63,30,33,0,0,0,56,7,0
4,8,LA LIBERTAD,ASCOPE,P.ASCOPE,75,68,143,331,321,652,...,336,696,406,389,0,0,217,55,517,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,244,LA LIBERTAD,CACHICADAN,HOSPITAL,0,0,0,13,8,21,...,8,21,13,8,0,0,0,0,21,0
195,245,LA LIBERTAD,CACHICADAN,C.CHUCA,0,0,0,113,100,213,...,100,213,113,100,0,0,15,8,190,0
196,247,LA LIBERTAD,MOLLEPATA,P.MOLLETAPA,17,4,21,204,56,260,...,60,281,221,60,0,0,0,0,281,0
197,248,LA LIBERTAD,MOLLEPATA,C.MOLLEBAMBA,8,2,10,67,28,95,...,30,105,75,30,0,0,8,88,9,0
198,250,LA LIBERTAD,SITABAMBA,P.SITABAMBA,29,27,56,135,83,218,...,110,274,164,110,0,0,0,0,274,0

In [7]:
a = libertad_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [8]:
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [9]:
a12= a.men_not_write.fillna(0)
a12 = a.men_not_write.astype(int)

In [10]:
a12= a.infer_objects()
a12.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int64
total_read                   int64
men_not_read                 int64
women_not_read               int64
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int64
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int64
blacks                       int64
dtype: object