In [1]:
 import pandas as pd

# Import data

In [2]:
apu = pd.read_excel(r"C:\Users\egonz\Dropbox\PC\Desktop\Data/APURIMAC.xlsx")
apu["Region"] = "APURIMAC"

In [4]:
region = apu["Region"]

In [3]:

apu.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [5]:
apu.drop(labels = "Region", axis=1, inplace = True)
apu.insert(0, "Region", region)

In [6]:
apu

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,APURIMAC
1,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,NaN,...,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN,APURIMAC
2,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,M.,...,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra,APURIMAC
3,Abancay,P.Abancay,36,44,80,161,161,322,75,71,...,374,197,205,0,0,55,142,205,0,APURIMAC
4,Abancay,Total,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Huancaray,P.Huancaray,45,16,61,180,40,220,69,1,...,281,225,56,0,0,61,137,83,0,APURIMAC
152,Huancaray,Cachi,13,55,68,62,170,232,9,10,...,300,75,225,0,0,60,192,48,0,APURIMAC
153,Huancaray,Total,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC
154,Pampachiri,P.Pampachiri,52,56,108,129,155,284,14,5,...,380,181,211,0,0,165,191,36,0,APURIMAC
155,Pampachiri,Total,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC

# Clean String Variables

In [7]:
# Translate to Uppercase variables 
apu["District"] =apu["District"].str.upper()
apu["Place"] = apu["Place"].str.upper()

In [8]:
apu["Place"] = apu["Place"].str.strip()
# Find errors with string = Total
errors = apu.loc[apu["Place"]=="TOTAL"]
error_list = errors.index.tolist()

apu_clean = apu.drop(apu.index[error_list])
apu_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,APURIMAC
1,NaN,NaN,DE 4 A 6 AÑOS,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,NaN,...,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN,APURIMAC
2,NaN,NaN,V.,M.,T.,V.,M.,T.,v.,M.,...,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra,APURIMAC
3,Abancay,P.ABANCAY,NaN,44,80,161,161,322,75,71,...,374,197,205,0,0,55,142,205,0,APURIMAC
4,Abancay,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Huancaray,P.HUANCARAY,NaN,16,61,180,40,220,69,1,...,281,225,56,0,0,61,137,83,0,APURIMAC
152,Huancaray,CACHI,NaN,55,68,62,170,232,9,10,...,300,75,225,0,0,60,192,48,0,APURIMAC
153,Huancaray,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC
154,Pampachiri,P.PAMPACHIRI,NaN,56,108,129,155,284,14,5,...,380,181,211,0,0,165,191,36,0,APURIMAC
155,Pampachiri,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC

In [9]:
# Drop first 3 rows beacuse it does not serve us
apu_clean = apu_clean.drop([0, 1, 2],axis=0)
apu_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,Abancay,P.ABANCAY,NaN,44,80,161,161,322,75,71,...,374,197,205,0,0,55,142,205,0,APURIMAC
4,Abancay,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC
5,Pichigua,P.PICHIGUA,NaN,14,40,65,60,125,26,0,...,165,91,74,0,0,127,0,38,0,APURIMAC
6,Pichigua,CHALKUANI,NaN,7,12,20,11,31,0,0,...,43,25,18,0,0,34,0,9,0,APURIMAC
7,Pichigua,A.COTARMA,NaN,2,5,22,9,31,0,0,...,36,25,11,0,0,36,0,0,0,APURIMAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Huancaray,P.HUANCARAY,NaN,16,61,180,40,220,69,1,...,281,225,56,0,0,61,137,83,0,APURIMAC
152,Huancaray,CACHI,NaN,55,68,62,170,232,9,10,...,300,75,225,0,0,60,192,48,0,APURIMAC
153,Huancaray,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC
154,Pampachiri,P.PAMPACHIRI,NaN,56,108,129,155,284,14,5,...,380,181,211,0,0,165,191,36,0,APURIMAC
155,Pampachiri,TOTAL,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC

In [10]:
# drop by index
# Reset to index because we have removed rows and renumbering them
apu_clean = apu_clean.reset_index()
apu_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,Abancay,P.ABANCAY,NaN,44,80,161,161,322,75,...,374,197,205,0,0,55,142,205,0,APURIMAC
1,4,Abancay,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC
2,5,Pichigua,P.PICHIGUA,NaN,14,40,65,60,125,26,...,165,91,74,0,0,127,0,38,0,APURIMAC
3,6,Pichigua,CHALKUANI,NaN,7,12,20,11,31,0,...,43,25,18,0,0,34,0,9,0,APURIMAC
4,7,Pichigua,A.COTARMA,NaN,2,5,22,9,31,0,...,36,25,11,0,0,36,0,0,0,APURIMAC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,151,Huancaray,P.HUANCARAY,NaN,16,61,180,40,220,69,...,281,225,56,0,0,61,137,83,0,APURIMAC
149,152,Huancaray,CACHI,NaN,55,68,62,170,232,9,...,300,75,225,0,0,60,192,48,0,APURIMAC
150,153,Huancaray,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC
151,154,Pampachiri,P.PAMPACHIRI,NaN,56,108,129,155,284,14,...,380,181,211,0,0,165,191,36,0,APURIMAC
152,155,Pampachiri,TOTAL,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,APURIMAC

In [11]:
# indentify the types of Colum in the data 
a = apu_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [12]:
#As a precaution, we will check again that there are no rows with "Total"
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [13]:
a1=a.dtypes

In [14]:
# This code will change the object column type to int64
a12= a.infer_objects()
a12.dtypes

Region                       object
District                     object
Place                       float64
4_6_years_men                 int64
4_6_years_women               int64
4_6_years_total               int64
6_14_years_men                int64
6_14_years_women              int64
6_14_years_total              int64
man_read                      int64
women_read                    int64
total_read                    int64
men_not_read                  int64
women_not_read                int64
total_not_read                int64
man_write                     int64
women_write                   int64
total_write                   int64
men_not_write                 int64
women_not_write               int64
total_not_write               int64
instruction_men               int64
instruction_women             int64
instruction_total             int64
no_instruction_men            int64
no_instruction_women          int64
no_instruction_total          int64
finished_instr_men            int64
finished_instr_women          int64
finished_instr_total          int64
not_finished_instr_men        int64
not_finished_instr_women      int64
not_finished_instr_total      int64
peruvian_men                  int64
peruvian_women                int64
foreign_men                   int64
foreign_women                 int64
whites                        int64
natives                       int64
mestizos                      int64
blacks                       object
dtype: object

In [15]:
Code1= a12.to_excel("Region_Apurimac.xlsx")
Code1