In [1]:
import pandas as pd

###

In [3]:
ancash = pd.read_excel(r"C:\Users\egonz\Desktop\LIMPIAR DATA/ANCASH_FINALIZADO.xlsx")
ancash["Region"] = "ANCASH"
Region = ancash["Region"]
ancash.drop(labels = "Region", axis=1, inplace = True)
ancash.insert(0, "Region", Region)
ancash.columns= ["Region","District","Place","4_6_years_men","4_6_years_women"
,"4_6_years_total","6_14_years_men","6_14_years_women","6_14_years_total","man_read","women_read","total_read","men_not_read","women_not_read","total_not_read","man_write","women_write","total_write","men_not_write","women_not_write","total_not_write","instruction_men","instruction_women","instruction_total","no_instruction_men","no_instruction_women","no_instruction_total","finished_instr_men","finished_instr_women","finished_instr_total","not_finished_instr_men","not_finished_instr_women","not_finished_instr_total","peruvian_men"
 , "peruvian_women", "foreign_men", "foreign_women", "whites", "natives", "mestizos" , "blacks"]

In [4]:
region = ancash["Region"]

In [5]:
ancash["District"] =ancash["District"].str.upper()
ancash["Place"] = ancash["Place"].str.upper()

In [6]:
ancash["Place"] = ancash["Place"].str.strip()
# Find errors with string = Total
errors =ancash.loc[ancash["Place"]=="TOTAL"]
error_list = errors.index.tolist()

ancash_clean = ancash.drop(ancash.index[error_list])
ancash_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,ANCASH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANCASH,NaN,NaN,De 4 a 6 años,NaN,NaN,De 6 a 14 años,NaN,NaN,NaN,...,NaN,NaN,Peruanos,NaN,Extranjeros,NaN,NaN,NaN,NaN,NaN
2,ANCASH,NaN,NaN,v.,M.,T.,V.,M.,T.,v.,...,M.,T.,V.,M.,V.,M.,Blanca,Indígena,Mestiza,Negra
3,ANCASH,HUARAZ,CD. HUARÁZ,84,99,183,585,453,1038,584,...,296,696,664,550,5,2,289,167,765,0
4,ANCASH,HUARAZ,C.CURUAS,22,8,30,128,26,154,69,...,34,184,150,34,0,0,0,169,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,ANCASH,OYÓN,UTUTO,12,6,18,10,15,25,0,...,21,43,22,21,0,0,0,43,0,0
400,ANCASH,OYÓN,C.POMAMAYO Y ANEXOS,11,10,21,79,78,157,0,...,88,178,90,88,0,0,0,157,21,0
402,ANCASH,CHIQUIÁN,P.CHIQUIAN,8,0,8,94,114,208,92,...,114,216,102,114,0,0,78,34,84,20
403,ANCASH,CHIQUIÁN,A.CARCA,0,0,0,25,0,25,24,...,0,25,25,0,0,0,0,21,0,4
405,ANCASH,TAUCA,P.TAUCA,52,45,97,228,230,458,132,...,275,555,280,275,0,0,8,112,433,2

In [7]:
ancash_clean = ancash_clean.drop([0, 1, 2],axis=0)
ancash_clean

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
3,ANCASH,HUARAZ,CD. HUARÁZ,84,99,183,585,453,1038,584,...,296,696,664,550,5,2,289,167,765,0
4,ANCASH,HUARAZ,C.CURUAS,22,8,30,128,26,154,69,...,34,184,150,34,0,0,0,169,15,0
5,ANCASH,HUARAZ,ACOVICHAY,0,9,9,0,32,32,0,...,41,41,0,41,0,0,0,41,0,0
6,ANCASH,HUARAZ,PACHAY,15,16,31,105,77,182,39,...,93,211,120,93,0,0,0,210,3,0
7,ANCASH,HUARAZ,ALIPALLAN,3,7,10,90,83,173,43,...,90,183,93,90,0,0,0,183,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,ANCASH,OYÓN,UTUTO,12,6,18,10,15,25,0,...,21,43,22,21,0,0,0,43,0,0
400,ANCASH,OYÓN,C.POMAMAYO Y ANEXOS,11,10,21,79,78,157,0,...,88,178,90,88,0,0,0,157,21,0
402,ANCASH,CHIQUIÁN,P.CHIQUIAN,8,0,8,94,114,208,92,...,114,216,102,114,0,0,78,34,84,20
403,ANCASH,CHIQUIÁN,A.CARCA,0,0,0,25,0,25,24,...,0,25,25,0,0,0,0,21,0,4
405,ANCASH,TAUCA,P.TAUCA,52,45,97,228,230,458,132,...,275,555,280,275,0,0,8,112,433,2

In [8]:
ancash_clean = ancash_clean.reset_index()
ancash_clean

,index,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,3,ANCASH,HUARAZ,CD. HUARÁZ,84,99,183,585,453,1038,...,296,696,664,550,5,2,289,167,765,0
1,4,ANCASH,HUARAZ,C.CURUAS,22,8,30,128,26,154,...,34,184,150,34,0,0,0,169,15,0
2,5,ANCASH,HUARAZ,ACOVICHAY,0,9,9,0,32,32,...,41,41,0,41,0,0,0,41,0,0
3,6,ANCASH,HUARAZ,PACHAY,15,16,31,105,77,182,...,93,211,120,93,0,0,0,210,3,0
4,7,ANCASH,HUARAZ,ALIPALLAN,3,7,10,90,83,173,...,90,183,93,90,0,0,0,183,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,399,ANCASH,OYÓN,UTUTO,12,6,18,10,15,25,...,21,43,22,21,0,0,0,43,0,0
336,400,ANCASH,OYÓN,C.POMAMAYO Y ANEXOS,11,10,21,79,78,157,...,88,178,90,88,0,0,0,157,21,0
337,402,ANCASH,CHIQUIÁN,P.CHIQUIAN,8,0,8,94,114,208,...,114,216,102,114,0,0,78,34,84,20
338,403,ANCASH,CHIQUIÁN,A.CARCA,0,0,0,25,0,25,...,0,25,25,0,0,0,0,21,0,4
339,405,ANCASH,TAUCA,P.TAUCA,52,45,97,228,230,458,...,275,555,280,275,0,0,8,112,433,2

In [9]:
a = ancash_clean.drop("index", axis=1)
a.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men               object
4_6_years_women             object
4_6_years_total             object
6_14_years_men              object
6_14_years_women            object
6_14_years_total            object
man_read                    object
women_read                  object
total_read                  object
men_not_read                object
women_not_read              object
total_not_read              object
man_write                   object
women_write                 object
total_write                 object
men_not_write               object
women_not_write             object
total_not_write             object
instruction_men             object
instruction_women           object
instruction_total           object
no_instruction_men          object
no_instruction_women        object
no_instruction_total        object
finished_instr_men          object
finished_instr_women        object
finished_instr_total        object
not_finished_instr_men      object
not_finished_instr_women    object
not_finished_instr_total    object
peruvian_men                object
peruvian_women              object
foreign_men                 object
foreign_women               object
whites                      object
natives                     object
mestizos                    object
blacks                      object
dtype: object

In [10]:
errors1 =a.loc[a["Place"]=="TOTAL"]
errors1

Empty DataFrame
Columns: [Region, District, Place, 4_6_years_men, 4_6_years_women, 4_6_years_total, 6_14_years_men, 6_14_years_women, 6_14_years_total, man_read, women_read, total_read, men_not_read, women_not_read, total_not_read, man_write, women_write, total_write, men_not_write, women_not_write, total_not_write, instruction_men, instruction_women, instruction_total, no_instruction_men, no_instruction_women, no_instruction_total, finished_instr_men, finished_instr_women, finished_instr_total, not_finished_instr_men, not_finished_instr_women, not_finished_instr_total, peruvian_men, peruvian_women, foreign_men, foreign_women, whites, natives, mestizos, blacks]
Index: []

[0 rows x 41 columns]

In [11]:
a1=a.dtypes

In [15]:
aea= a.infer_objects()
aea.dtypes

Region                       object
District                     object
Place                        object
4_6_years_men                 int64
4_6_years_women               int64
4_6_years_total               int64
6_14_years_men                int64
6_14_years_women              int64
6_14_years_total              int64
man_read                      int64
women_read                  float64
total_read                    int64
men_not_read                  int64
women_not_read              float64
total_not_read                int64
man_write                     int64
women_write                   int64
total_write                   int64
men_not_write                 int64
women_not_write               int64
total_not_write               int64
instruction_men               int64
instruction_women             int64
instruction_total             int64
no_instruction_men            int64
no_instruction_women          int64
no_instruction_total          int64
finished_instr_men            int64
finished_instr_women          int64
finished_instr_total        float64
not_finished_instr_men        int64
not_finished_instr_women      int64
not_finished_instr_total      int64
peruvian_men                  int64
peruvian_women                int64
foreign_men                   int64
foreign_women                 int64
whites                        int64
natives                       int64
mestizos                    float64
blacks                        int64
dtype: object

In [32]:
aea.women_read = aea.women_read.fillna(0)
aea.women_not_read = aea.women_not_read.fillna(0)
aea.finished_instr_total = aea.finished_instr_total.fillna(0)
aea.mestizos = aea.mestizos.fillna(0)

In [33]:
aea.women_read = aea.women_read.astype(int)
aea.women_not_read = aea.women_not_read.astype(int)
aea.finished_instr_total = aea.finished_instr_total.astype(int)
aea.mestizos = aea.mestizos.astype(int)

In [34]:
aea1 = aea.dtypes
aea1

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int32
total_read                   int64
men_not_read                 int64
women_not_read               int32
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int32
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int32
blacks                       int64
dtype: object

In [36]:
aea1

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int32
total_read                   int64
men_not_read                 int64
women_not_read               int32
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int32
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int32
blacks                       int64
dtype: object

In [37]:
a12= aea.infer_objects()
a12.dtypes

Region                      object
District                    object
Place                       object
4_6_years_men                int64
4_6_years_women              int64
4_6_years_total              int64
6_14_years_men               int64
6_14_years_women             int64
6_14_years_total             int64
man_read                     int64
women_read                   int32
total_read                   int64
men_not_read                 int64
women_not_read               int32
total_not_read               int64
man_write                    int64
women_write                  int64
total_write                  int64
men_not_write                int64
women_not_write              int64
total_not_write              int64
instruction_men              int64
instruction_women            int64
instruction_total            int64
no_instruction_men           int64
no_instruction_women         int64
no_instruction_total         int64
finished_instr_men           int64
finished_instr_women         int64
finished_instr_total         int32
not_finished_instr_men       int64
not_finished_instr_women     int64
not_finished_instr_total     int64
peruvian_men                 int64
peruvian_women               int64
foreign_men                  int64
foreign_women                int64
whites                       int64
natives                      int64
mestizos                     int32
blacks                       int64
dtype: object

In [38]:
a12

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,ANCASH,HUARAZ,CD. HUARÁZ,84,99,183,585,453,1038,584,...,296,696,664,550,5,2,289,167,765,0
1,ANCASH,HUARAZ,C.CURUAS,22,8,30,128,26,154,69,...,34,184,150,34,0,0,0,169,15,0
2,ANCASH,HUARAZ,ACOVICHAY,0,9,9,0,32,32,0,...,41,41,0,41,0,0,0,41,0,0
3,ANCASH,HUARAZ,PACHAY,15,16,31,105,77,182,39,...,93,211,120,93,0,0,0,210,3,0
4,ANCASH,HUARAZ,ALIPALLAN,3,7,10,90,83,173,43,...,90,183,93,90,0,0,0,183,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,ANCASH,OYÓN,UTUTO,12,6,18,10,15,25,0,...,21,43,22,21,0,0,0,43,0,0
336,ANCASH,OYÓN,C.POMAMAYO Y ANEXOS,11,10,21,79,78,157,0,...,88,178,90,88,0,0,0,157,21,0
337,ANCASH,CHIQUIÁN,P.CHIQUIAN,8,0,8,94,114,208,92,...,114,216,102,114,0,0,78,34,84,20
338,ANCASH,CHIQUIÁN,A.CARCA,0,0,0,25,0,25,24,...,0,25,25,0,0,0,0,21,0,4
339,ANCASH,TAUCA,P.TAUCA,52,45,97,228,230,458,132,...,275,555,280,275,0,0,8,112,433,2

In [39]:
Code1= a12.to_excel("Region_Ancash.xlsx")
Code1